@import "./utils/variables";
@import "./base";
@import "./utils/texts";
@import "./utils/utils";
@import "./utils/mixins";

@import "./components/buttons";
@import "./components/carousel-button";
@import "./components/chef-card";
@import "./components/format_card";
@import "./components/input";
@import "./components/links";

@import "./layouts/advantages-section";
@import "./layouts/chefs-section";
@import "./layouts/contact_section";
@import "./layouts/formats-section";
@import "./layouts/form-terms";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/modal";
@import "./layouts/section";
@import "./layouts/traditions-section";

.container {
  width: 100%;
  max-width: 1240px; /*максимальна ширина*/
  margin: 0 auto;
  padding: 0 24px;
}

/* Footer */
.footer {
  padding: 32px 0;
  position: relative;
  background-image: url("../images/footer-background.png"); /* потрібно у форматі png так буде прозорою, щоб можна було задавати колір фону */
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer::before,
footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: "";
}
.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url("../images/decor-bread-small.png");
}
.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url("../images/decor-bread-large.png");
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo,
.footer-menu {
  flex-grow: 1;
}
.address-list,
.address-info {
  flex-grow: 1;
}
.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none; /* прибирає підкреслення */
}

.address-link:hover {
  color: var(--color-primary-dark);
}
.address-icon {
  fill: var(
    --color-primary-light
  ); /*для іконок потрібна спеціальна властивість */
}
.address-icon:hover {
  fill: var(
    --color-brand-normal
  ); /*для іконок потрібна спеціальна властивість */
  stroke: red; /*додає обводку до іконки*/
}
.address-copyright {
  font-size: 14px;
}

/* .checkbox{
  position: relative;
}
.checkbox-input{
  appearance: none;
}
.checkbox-input:checked + .checkbox-label::before{
background-color: var(--color-secondart-dark);
}
.checkbox-label{
  padding-left: 24px;
}
.checkbox-label::before{
  position: absolute;
  top: 0;
  left: 0;
    width: 16px;
  height: 16px;
  margin-top: 5px;
  border:1px solid var(--color-primary-dark); 
  border-radius: 2px;
  content: "";
} */
