/*:root - застосовується для створення змінниз*/
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondart-dark: #a28268;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
}
