/*РЕКОМЕНДУЄТЬСЯ ВСЕ РОБИТИ ЧЕРЕЗ class*/
/* щоб h1 весь став таким як тут*/
h1 {
  border: 4px solid black;
}
/* щоб посилатись з class*/
.main-title {
  border: 4px solid violet;
}
/* щоб посилатись з id (id застосовують щоб посилатись з джава скріпт)*/
#main-main-title {
  border: 4px solid rgba(144, 130, 238, 0.249);
}
/*селектор атрибуту*/
[type] {
  border: 4px solid rgb(53, 198, 48);
}

.box {
  width: 100px; /*ширина*/
  height: 100px; /*висота*/
  background-color: burlywood;
  padding: 10px; /*відступ від контуру*/
  border: 5px solid darkred; /*ширина. стиль(solid-суцільна dotter-пунктирна). колір*/
  border-radius: 10px; /*заокруглення*/
  margin: 10px; /*зовнійшній віступ*/
}
/* можна присвоювати лише одну якусь частину */
.boxx {
  width: 100px; /*ширина*/
  height: 100px; /*висота*/
  background-color: burlywood;
  padding-top: 16px; /*відступ від контуру зверху*/
  padding-right: 42px; /*відступ від контуру справа*/
  padding-bottom: 16px; /*відступ від контуру знизу*/
  padding-left: 42px; /*відступ від контуру зліва*/

  border-bottom: 5px solid darkred; /*ширина. стиль(solid-суцільна dotter-пунктирна). колір*/
  border-radius: 10px; /*заокруглення*/
  margin-left: 10px; /*зовнійшній віступ*/
}
/* можна всі сторони присвоїти коротше РЕКОМЕНДУЄТЬСЯ*/
.boxxx {
  display: inline-block; /*розташування блоків лінійно-рядково*/
  box-sizing: border-box;
  width: 100px; /*ширина*/
  height: 100px; /*висота*/
  background-color: burlywood;
  padding: 10px; /*ЯКЩО висота І ширина ОДНАКОВІ ТО ДОСИТЬ ПИСАТИ ДВА ЧИСЛА*/

  border: 5px solid darkred; /*ширина. стиль(solid-суцільна dotter-пунктирна). колір*/
  border-radius: 10px; /*заокруглення*/
  margin: 10px; /*зовнійшній віступ звершу і знизу 0; справа знизу однакові*/
}
* {
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  justify-content: center; /*вирівнює по центру*/
  flex-wrap: wrap; /*якщо потрібно, щоб елементи переносились на новий рядок*/
}
.item {
  flex-basis: 100px; /*не жорстко привязана ширина*/
  height: 100px; /*висота*/
  background-color: burlywood;
  padding: 10px; /*ЯКЩО висота І ширина ОДНАКОВІ ТО ДОСИТЬ ПИСАТИ ДВА ЧИСЛА*/

  border: 5px solid darkred; /*ширина. стиль(solid-суцільна dotter-пунктирна). колір*/
  border-radius: 10px; /*заокруглення*/
  margin: 10px; /*зовнійшній віступ звершу і знизу 0; справа знизу однакові*/
}
.item:nth-child(2) {
  /*другий номер*/
  width: 50px;
  height: 50px;
}
.item:nth-child(4) {
  flex-grow: 1; /*елемент буде займати все вільне місце*/
}
.item:nth-child(6) {
  flex-grow: 2; /*другий елемент буде в два рази більше ніж перший*/
}
.item:nth-child(7) {
  flex-shrink: 0; /*елемент не буде стискатись більше заданого у порівнянні з іншими*/
}
.item:nth-child(3) {
  order: 4; /*міняє елемент з 4*/
  flex-basis: 50px;
  height: 50px;
  align-self: center; /*розташування елемента*/
}
.item:last-child {
  /*останній номер*/
  flex-basis: 80px;
  height: 80px;
}
.test-box {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-image: linear-gradient(
    gold,
    green,
    blue
  ); /*переливання градієнту*/
}
.test-boxx {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-image: linear-gradient(
    to left,
    gold 50%,
    green 70%,
    blue 100%
  ); /*переливання градієнту можна у відсотках і змінювати напрямок (to left, to right, to top,to bottom) або градусах()*/
}
.test-boxxx {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-image: linear-gradient(
    45deg,
    gold 50%,
    green 50%,
    green 70%,
    blue 70%,
    blue 100%
  ); /*переливання градієнту можна у відсотках і змінювати напрямок (to left, to right, to top,to bottom) або градусах() і задавати його жорстко, потрібно дублювати*/
}
.test-boxr {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-image: radial-gradient(
    gold 50%,

    green 70%,

    blue 100%
  ); /*переливання градієнту у радіусі*/
  box-shadow: 2px 2px 4px 4px rgb(226, 119, 119), 4px 4px 8px 8px gold; /*додавання тіні(зміщення по осі x, зміщення по осі y, розмитість, розпилення, колір/ можна робити багатофарову тінь подвоївши)*/
}
.parent {
  padding: 30px;
  border: 1px dotted black; /*рамка*/
}

.items.red {
  position: static; /*значення за замовчуванням*/
  width: 150px;
  height: 150px; /*висота*/
  background-color: red;
  color: white;
  overflow: auto; /*дозволяє скролити сторінку, якщо мало місця в блоці, якщо мало тексту то бігунок не показується*/
}
.items.red1 {
  position: static; /*значення за замовчуванням*/
  width: 150px;
  height: 150px; /*висота*/
  background-color: red;
  color: white;
  overflow: scroll; /*дозволяє скролити сторінку, якщо мало місця в блоці, будь якому разі показує повзунок*/
}
.items.green {
  position: absolute; /*абсолютне позиціонування*/
  opacity: 0.5;
  width: 50px;
  height: 50px; /*висота*/
  background-color: green;
  z-index: 2; /*виводить елемент на позицію по осі z чим більше число тим ближче до нас*/
}
.items.blue {
  width: 50px;
  height: 50px; /*висота*/
  background-color: blue;
  position: fixed; /*фіксоване позиціонування - якщо скролити то елемент всерівно буде привязаний до екрана*/
  bottom: 20px;
  right: 20px;
}
.items.yellow {
  width: 50px;
  height: 50px; /*висота*/
  background-color: yellow;
  position: -webkit-sticky; /*плаваюче позиціонування - якщо скролити то елемент буде залишатись на місці в межах div*/
  position: sticky;
  padding: 50px;
  font-size: 30px;
  bottom: 20px;
  right: 20px;
}
.section-title {
  background-color: burlywood;
  position: sticky;
  top: 0; /*щоб елемент був прикріплений саме до верхнього елемента*/
}
.parent1 {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px;
  border: 1px dotted black;
}
.itemsss {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.itemsss.red1 {
  width: 150px;
  height: 150px; /*висота*/
  background-color: red;
  transform: translate(10px, 50px); /*дозволяє зміщувати елемент по осі Х ТА У*/
  transition-property: background-color; /*яку властивість хочемо анімувати*/
  transition-duration: 2s; /*за скільки ми хочемо анімувати*/
  transition-timing-function: cubic-bezier(
    0.29,
    1,
    1,
    -0.6
  ); /*нелінійна зміна, можна зайти на сайт cubic-bezier і подивитись як буде змінюватись*/
  transition-delay: 0.5s;
  opacity: 1;
  transition: background-color 1s, color 1s, transform 1s;
}
.itemsss.red1:hover {
  /*зміна кольору елемента*/
  background-color: pink;
  opacity: 0;
  color: black;
}
.itemsss.green1 {
  width: 100px;
  height: 100px; /*висота*/
  background-color: green;
  transform: rotate(90deg); /*повертає елемент на кут*/
  transition-property: background-color; /*яку властивість хочемо анімувати*/
  transition-duration: 2s; /*за скільки ми хочемо анімувати*/
  animation-name: spin; /*підтягує @keyframes spin*/
  animation-duration: 2s; /*за який час хочемо зробити перехід*/
  animation-delay: 2s; /*затримка перед початком анімації*/
  animation-iteration-count: infinite; /*якщо хочемо, щоб анімація повторювалась певну кількість разів; infinite - це безкінечність*/
  animation-timing-function: linear; /*дозволяє робити плавний (лінійний) перехід*/
}
.itemsss.green1:hover {
  animation-play-state: paused; /*робить паузу коли наводиться мишка на елемент*/
}
@keyframes spin {
  /*директива за допомогою якої робиться анімація(обертання)*/
  0% {
    transform: rotate(0); /*задаємо обертання з 0*/
    background-color: green; /*можна анмувати будь яку властивість*/
  }
  50% {
    transform: rotate(
      10deg
    ); /*задаємо обертання на половині часу з 0 до 10 градусів*/
    background-color: red;
  }
  100% {
    transform: rotate(360deg); /*задаємо обертання до 360*/
    background-color: green;
  }
}
.itemsss.green1:hover {
  /*зміна кольору елемента*/
  background-color: pink;
}
.itemsss.blue1 {
  width: 50px;
  height: 50px; /*висота*/
  background-color: blue;
  transform: scale(
    1.5
  ); /*збільшує елемент у пропорціях, елемент буде залазити на інший*/
}
.itemsss.orange1 {
  width: 150px;
  height: 150px; /*висота*/
  background-color: orange;
  transform: skew(20deg); /*викривля елемент*/
}
