/*РЕКОМЕНДУЄТЬСЯ ВСЕ РОБИТИ ЧЕРЕЗ class*/
/* щоб h1 весь став таким як тут*/
h1 {
  border: 4px solid black;
}
/* щоб посилатись з class*/
.main-title {
  border: 4px solid violet;
}
/* щоб посилатись з id (id застосовують щоб посилатись з джава скріпт)*/
#main-main-title {
  border: 4px solid rgba(144, 130, 238, 0.249);
}
/*селектор атрибуту*/
[type] {
  border: 4px solid rgb(53, 198, 48);
}

.box {
  width: 100px; /*ширина*/
  height: 100px; /*висота*/
  background-color: burlywood;
  padding: 10px; /*відступ від контуру*/
  border: 5px solid darkred; /*ширина. стиль(solid-суцільна dotter-пунктирна). колір*/
  border-radius: 10px; /*заокруглення*/
  margin: 10px; /*зовнійшній віступ*/
}
/* можна присвоювати лише одну якусь частину */
.boxx {
  width: 100px; /*ширина*/
  height: 100px; /*висота*/
  background-color: burlywood;
  padding-top: 16px; /*відступ від контуру зверху*/
  padding-right: 42px; /*відступ від контуру справа*/
  padding-bottom: 16px; /*відступ від контуру знизу*/
  padding-left: 42px; /*відступ від контуру зліва*/

  border-bottom: 5px solid darkred; /*ширина. стиль(solid-суцільна dotter-пунктирна). колір*/
  border-radius: 10px; /*заокруглення*/
  margin-left: 10px; /*зовнійшній віступ*/
}
/* можна всі сторони присвоїти коротше РЕКОМЕНДУЄТЬСЯ*/
.boxxx {
  display: inline-block; /*розташування блоків лінійно-рядково*/
  box-sizing: border-box;
  width: 100px; /*ширина*/
  height: 100px; /*висота*/
  background-color: burlywood;
  padding: 10px; /*ЯКЩО висота І ширина ОДНАКОВІ ТО ДОСИТЬ ПИСАТИ ДВА ЧИСЛА*/

  border: 5px solid darkred; /*ширина. стиль(solid-суцільна dotter-пунктирна). колір*/
  border-radius: 10px; /*заокруглення*/
  margin: 10px; /*зовнійшній віступ звершу і знизу 0; справа знизу однакові*/
}
* {
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  justify-content: center; /*вирівнює по центру*/
  flex-wrap: wrap; /*якщо потрібно, щоб елементи переносились на новий рядок*/
}
.item {
  flex-basis: 100px; /*не жорстко привязана ширина*/
  height: 100px; /*висота*/
  background-color: burlywood;
  padding: 10px; /*ЯКЩО висота І ширина ОДНАКОВІ ТО ДОСИТЬ ПИСАТИ ДВА ЧИСЛА*/

  border: 5px solid darkred; /*ширина. стиль(solid-суцільна dotter-пунктирна). колір*/
  border-radius: 10px; /*заокруглення*/
  margin: 10px; /*зовнійшній віступ звершу і знизу 0; справа знизу однакові*/
}
.item:nth-child(2) {
  /*другий номер*/
  width: 50px;
  height: 50px;
}
.item:nth-child(4) {
  flex-grow: 1; /*елемент буде займати все вільне місце*/
}
.item:nth-child(6) {
  flex-grow: 2; /*другий елемент буде в два рази більше ніж перший*/
}
.item:nth-child(7) {
  flex-shrink: 0; /*елемент не буде стискатись більше заданого у порівнянні з іншими*/
}
.item:nth-child(3) {
  order: 4; /*міняє елемент з 4*/
  flex-basis: 50px;
  height: 50px;
  align-self: center; /*розташування елемента*/
}
.item:last-child {
  /*останній номер*/
  flex-basis: 80px;
  height: 80px;
}
.test-box {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-image: linear-gradient(
    gold,
    green,
    blue
  ); /*переливання градієнту*/
}
.test-boxx {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-image: linear-gradient(
    to left,
    gold 50%,
    green 70%,
    blue 100%
  ); /*переливання градієнту можна у відсотках і змінювати напрямок (to left, to right, to top,to bottom) або градусах()*/
}
.test-boxxx {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-image: linear-gradient(
    45deg,
    gold 50%,
    green 50%,
    green 70%,
    blue 70%,
    blue 100%
  ); /*переливання градієнту можна у відсотках і змінювати напрямок (to left, to right, to top,to bottom) або градусах() і задавати його жорстко, потрібно дублювати*/
}
.test-boxr {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-image: radial-gradient(
    gold 50%,

    green 70%,

    blue 100%
  ); /*переливання градієнту у радіусі*/
  box-shadow: 2px 2px 4px 4px rgb(226, 119, 119), 4px 4px 8px 8px gold; /*додавання тіні(зміщення по осі x, зміщення по осі y, розмитість, розпилення, колір/ можна робити багатофарову тінь подвоївши)*/
}
