/*Стилі для кнопок*/
.button {
  padding: 16px 32px;
  /*фон*/
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal); /*зостосовуємо змінну*/
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  /*змінна курсора*/
  cursor: pointer;
}

/*якщо в когось не працює кнопка, то можна перемикатись між кнопками то можна застосувати Tab і тоді кнопка на яку ми наводимось виділяється і її виділення можна змінити*/
.button:focus {
  background-color: hotpink;
}
/*зміна кольору коли натискаємо*/
.button:active {
  background-color: rgb(239, 110, 11);
}
/*кнопка робиться прозорою коли наводять мишку*/
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
// .button[disabled] {
//   color: var(--color-brand-light);
//   background-color: lightgray;
//   border-color: currentColor;
//   cursor: not-allowed; /*змінює курсор на знак заборони*/
// }
