.chef-card {
  display: flex;
  gap: 30px;

  &__photo {
    border-radius: 4px 4px 4px 200px; /*заокруглення фото*/
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 2px var(--color-secondart-dark);
  }
  &__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
  }
  &__text {
    margin-bottom: 24px;

    &:last-child {
      /*до всіх елементів крім останнього*/
      margin-bottom: 0;
    }
  }
}
