.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url("../images/hero-section-background.jpg"); /*задає фон (можна колір background-color, фото - background-image: url("../images/couple-in-bakery.jpg"))*/
  background-repeat: no-repeat; /*щоб зображення не повторювалось*/
  background-position: center; /*зміщення фону*/
  background-size: cover;
  background-attachment: fixed; /*фон буде залишатись при прокрутці*/
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-decoration: underline; /*Підкреслення тексту*/
  text-align: center; /*Вирівнювання тексту*/
  text-shadow: 2px 2px 4px violet; /*робить тінь (зміщення по осі Х; зміщення по осі Y; розмитість; колір тіні)*/
  /* letter-spacing: 4px;Відстань між літерами */
  /* word-spacing: 4px;Відстань між словами */
  font-size: 128px; /* розмір шрифта */
  font-weight: 900; /*визначає товщину або насиченість шрифту, роблячи текст жирним або тонким */
  font-style: italic; /* зробить текст курсивом */
}

.hero-title .accent {
  color: var(--color-brand-normal);
}
