.traditions-section {
  padding-top: 96px;

  &__container {
    display: flex; /*Розташовуємо в рядок*/
    justify-content: space-between;
    gap: 40px;
  }
  &__content {
    max-width: 710px;
  }
  &__title {
    margin-bottom: 42px;
  }
  /* traditions-text 
.traditions-text {
   white-space: nowrap;контролює як буде відображатись текст якщо він не вміщується в один рядок тут не переноситься
 } */

  &__text {
    &--limited {
      max-width: 340px;
    }
  }
}
